/* Header and footer */
.material-symbols-outlined { font-size: 1.9rem; }
.nav { position: fixed; top: 0; left: 0; right: 0; z-index: 2000; height: 2.5em; }
.nav { transform: translate(0); transition: 250ms cubic-bezier(.5, 0, .5, 1); }

.nav, .footer { background: var(--clr-nav); font-size: var(--fs-h3); font-weight: var(--fw-bold); }
.nav__list, .footer__list { display: flex; justify-content: space-evenly; padding: 0.5em 1.5em; }

.footer { color: var(--clr-fg); }
.footer__list { width: 10em; margin: auto; color: var(--clf-fg2); }

.nav__link:after { content: ''; display: block; width: 0; height: 2px; margin: auto; }
.nav__link:after { background: var(--clr-fg); transition: 250ms ease-in-out; }
.nav__link:hover, .nav__link:hover:after{ color: var(--clr-fg); opacity: 1.0; width: 100%; }

/* Nav-toggle */
.nav-toggle { position: fixed; top: 1.25em; right: 0.5em; z-index: 3000; padding: 0.5em; }
.burger { display: block; position: relative; }
.burger::before, .burger::after {content: ''; position: absolute; left: 0; right: 0; }
.burger, .burger::before, .burger::after {
  width: 2em;
  height: 4px;
  border-radius: 1em;
  background: var(--clr-fg2);
  transform: rotate(0.625turn);
  transition: transform 500ms ease-in-out;
}
.burger::before { transform: rotate(90deg); }
.burger::after { opacity: 0; }

.nav-close .nav { transform: translate(100%); }
.nav-close .burger { transform: rotate(0); }
.nav-close .burger::before { top: 6px; transform: translate(0); }
.nav-close .burger::after { bottom: 6px; transform: translate(0); opacity: 100; }

/* Social */
.fab { font-family: 'FontAwesome' !important; font-size: var(--fs-h2); font-style: normal; }
.social { position: fixed; top: 40vh; right: 0; z-index: 2000; }
.social__link { opacity: 0.6; margin: 0.5em; padding: 0.5em; }
.social__link:hover { opacity: 1.0; }

/* Section title */
.section__title::after { content: ''; display: block; width: 2em; height: 1px; }
.section__title::after { margin: 0.5em auto 1em; background: var(--clr-fg2); }

/* Panel grids */
.grid { display: grid; justify-items: center; max-width: 70ch; margin: 0 auto 5rem;}
.panel { background: black; border: var(--border); border-radius: 1em; overflow: hidden; transition: opacity 250ms linear, transform 500ms cubic-bezier(0.5, 0, 0.5, 1);}
.panel__image { position: absolute; transition: inherit; top: 2em; left: 2em; width: calc(100% - 4em);}
.panel__text { position: absolute; transition: inherit; width: inherit; height: 2em; bottom: 1em; opacity: 0; font-size: small; font-weight: bold;}
.panel__text p { font-family: var(--ff-secondary); color: var(--clr-fg2); }
.panel:hover img, .panel:focus img { transform: scale(2.0); }
.panel:hover i, .panel:focus img { transform: font-size(60px); }
.panel:hover div, .panel:focus div { opacity: 1.0; }

/* Scoocher */
.scoocher { display: flex; width: 70px; border: 1px solid var(--clr-fg); }
.scoocher__button { width: 25%; background-color: var(--clr-fg); color: var(--clr-bg); }
.scoocher__text { width: 50%; border-color: var(--clr-fg); text-align: center;}

/* Portfolio item */
.portfolio-item-individual { padding: 0 2em 2em; max-width: 1000px; margin: 0 auto; }

/* Dividers */
.divider { position: absolute; bottom: 0; left: 0; width: 100%; transform: rotate(180deg); }
.divider svg { position: relative; display: block; width: calc(150% + 1.3px); height: 100px; }
.divider .shape-fill { fill: var(--clr-bg); }

.bg__divider svg { height: 100px; }
.bg__divider .shape-fill { fill: var(--clr-bg); }

.bg2__divider svg { height: 100px; transform: rotateY(180deg); }
.bg2__divider .shape-fill { fill: var(--clr-bg2); }

.footer__divider svg { height: 64px; transform: rotate(180deg); }
.footer__divider .shape-fill { fill: var(--clr-nav); }