.intro__title { font-size: min(4.3rem, 8vw); font-weight: var(--fw-reg); color: var(--clr-fg2); }

.nav, .footer { background: var(--clr-footer); font-size: var(--fs-h3); font-weight: var(--fw-bold); }
.footer { color: var(--clf-fg); }


.fab { font-family: 'FontAwesome' !important; font-size: var(--fs-h2); font-style: normal; }

/* Header and footer */
.nav { position: fixed; height: 2.5em; top: 0; left: 0; right: 0; z-index: 2000; }
.nav { transform: translate(0%); transition: 250ms cubic-bezier(.5, 0, .5, 1); }

/* Smooth nav transition */
.nav__list { display: flex; justify-content: space-evenly; padding: 0.5em 1.5em; }
.nav__link:hover { color: var(--clf-fg); opacity: 1.0; }
.nav__link:hover:after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-fg2);
  opacity: 0.6;
}

/* Little line under section titles */
.section__title::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-fg2);
  opacity: 0.6;
}

/* Social */
.social { position: fixed; height: 2.5em; top: 40vh; right: 0; z-index: 2000; }
.social__list { display: flex; justify-content: center; color: var(--clf-fg);}
.social__link { opacity: 0.6; margin: 0.5em 0.5em; padding: 1em 0.5em 0.5em; }
.social__link:hover { opacity: 1.0; }

/* Hamburger */
.nav-toggle { position: fixed; padding: 0.5em; right: 0.5em; top: 1.25em; z-index: 3000; }

.hamburger { display: block; position: relative; }

/* position relative to nav-toggle */
.hamburger::before, .hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-fg2);
  width: 2em;
  height: 4px;
  border-radius: 1em;
  transform: rotate(0.625turn);
  transition: transform 500ms ease-in-out;
}

.hamburger::before { transform: rotate(90deg); }
.hamburger::after { opacity: 0; }

.nav-close .nav { transform: translate(100%); }
.nav-close .hamburger { transform: rotate(0); }
.nav-close .hamburger::before { top: 6px; transform: translate(0); }
.nav-close .hamburger::after { bottom: 6px; transform: translate(0); opacity: 100; }

/* Divider */
.divider { position: absolute; bottom: 0; left: 0; width: 100%; transform: rotate(180deg); }
.divider svg { position: relative; display: block; width: calc(150% + 1.3px); height: 100px; }
.divider .shape-fill { fill: var(--clr-bg); }


