/* Background image (semi-circle) */
.background {
  position: absolute;
  overflow: hidden;
  padding: 0;
  left: calc(50% - 60rem);
  width: min(120rem, 50% + 60rem);
  z-index: -5;
}

/* Intro section */
.intro { margin: 1em max(0em, 50vw - 22rem); }

/* half page - half figure - padding = 50vw - 22rem */
.intro__image__container {
  position: absolute;
  overflow: hidden;
  width: min(40rem, 100vw - 3rem);
  height: 12rem;
  filter: grayscale(100%);
  -webkit-mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 0.5) 0%, transparent 70%);
  mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 0.5) 0%, transparent 70%);
  z-index: -2;
}

.intro__image { width: 40rem; }
/* Places new image behind current image during cross-fase */
.intro__image + .intro__image { position: absolute; top: 0; left: 0; z-index: -2; }

.intro__button {
  font-size: 0.8rem;
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
  display: inline-block;
  margin: 12rem auto;
  padding: 0.5em 3em;
  color: var(--clr-bg);
  background-color: var(--clr-button);
}

.intro__button:hover { transform: scale(1.1); }

/* Skills */
.skill__text, .portfolio__text p { font-family: var(--ff-secondary); color: var(--clr-fg2); }

.skills {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  justify-items: center;
  max-width: 540px;
  margin: 0 auto 5rem;
}

.skill__item {
  background: black;
  width: 90px;
  height: 120px;
  border: var(--border);
  border-radius: 1em;
  transition: opacity 250ms linear, transform 500ms cubic-bezier(0.5, 0, 0.5, 1);
}

.skill__logo { position: absolute; transition: inherit; top: 30px; left: 30px; width: 30px; }
.skill__text { position: absolute; transition: inherit; width: inherit; height: 30px; bottom: 0; opacity: 0; }
.skill__item:hover img, .skill__item:focus img { transform: scale(2.0); }
.skill__item:hover div, .skill__item:focus div { opacity: 1.0; }

/* Portfolio */
.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35ch, 1fr));
  justify-items: center;
  max-width: 70ch;
  margin: 0 auto 5rem;
}

.portfolio__item {
  width: 35ch;
  height: 35ch;
  border: var(--border);
  border-radius: 1em;
  overflow: hidden;
  transition: opacity 250ms linear, transform 500ms cubic-bezier(0.5, 0, 0.5, 1);
}

.portfolio__image {
  transition: inherit;
  width: inherit;
  height: inherit;
}

.portfolio__text {
  position: absolute;
  transition: inherit;
  top: 20px;
  left: 20px;
  right: 20px;
  opacity: 0;
}

/* Portfolio Item */
.portfolio__item:hover img, .portfolio__item:focus img { transform: scale(1.2); opacity: 0.1; }
.portfolio__item:hover div, .portfolio__item:focus div { opacity: 1.0; }
.portfolio-item-individual { padding: 0 2em 2em; max-width: 1000px; margin: 0 auto; }

/* Dividers */
.skills__divider svg { height: 100px; }
.skills__divider .shape-fill { fill: var(--clr-bg); }

.projects__divider svg { height: 100px; transform: rotateY(180deg); }
.projects__divider .shape-fill { fill: var(--clr-bg2); }