/* Set-up box-sizing (how padding is calculated) */
*, *::before, *::after { box-sizing: border-box; }

/* Custom properties */
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: skyblue;
    --clr-blue: steelblue;
    --fs-h1: 3rem;
    --fs-h2: 2rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
    --border: 2px solid var(--clr-dark);
}

/* General styles */
body {
    display: flex;                  /* Footer needs this to go to bottom*/
    flex-direction: column;         /* Footer needs this to go to bottom*/
    min-height: 100vw;              /* Footer needs this to go to bottom*/
    margin: 0 !important;           /* Footer needs this to remove its margin*/
    background: var(--clr-dark);    /* background colour */
    font-family: var(--ff-primary); /* Font */
    font-size: var(--fs-body);      /* Size */
    font-weight: var(--fw-reg);     /* Weight */
    color: var(--clr-light);        /* Colour */
    text-align: center;             /* Alignment */
    line-height: 1.6;               /* Line spacing */
}
html { scroll-behavior: smooth; }                   /* Smooth scrolling from nav */
section { display : block; padding: 5rem 2rem; }    /* Adds padding to sections excl. nav and footer */
ul { list-style : none; }                           /* Removes bullets from lists */
:focus { outline: 3px solid var(--clr-accent); outline-offset: 1px; }
button { padding: 0.5em; cursor: pointer; z-index: 1000; background: none; border: 0; }

/* Typography */
h1, h2, h3 { line-height: 1; margin: 0; font-family: var(--ff-primary); }
h1 { font-size: var(--fs-h1); font-weight: var(--fw-bold); color: var(--clr-accent); }
h2 { font-size: var(--fs-h2); font-weight: var(--fw-bold); color: var(--clr-accent); }
h3 { font-size: var(--fs-h3); font-weight: var(--fw-bold); color: var(--clr-accent); }

.intro__title { font-size: min(4rem, 8vw); font-weight: var(--fw-reg); color: var(--clr-light);}
.intro__title, .intro__text { text-align: left; }
.section__title { font-family: var(--ff-primary); }
.section__subtitle{ font-family: var(--ff-secondary); }
.nav, .footer { background: #111; font-size: var(--fs-h3); font-weight: var(--fw-bold);}
.skill__text, .portfolio__text p { color: var(--clr-light); font-family: var(--ff-secondary);  }
.fab { font-family: 'FontAwesome' !important; font-size: var(--fs-h2); font-style: normal; }
.footer { color: var(--clr-accent); }

/* Little line under section titles */
.section__title::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.8;
}

/* Header and footer */
.nav { position: fixed; height: 2.5em; top: 0; left: 0; right: 0; z-index: 2000; }
.nav__list { display: flex; justify-content: space-evenly; margin: 0; padding: 0.5em 1.5em; }
.nav {
    transform: translate(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}
.nav a, .footer a { color: inherit; text-decoration: none; }    /* Color and no underscore */
.nav__link:hover { color: var(--clr-accent); }                  /* Nav hover effect */
.footer__link:hover, .social__link:hover { opacity: 0.7; }      /* Footer hover effect */

.social { display: flex; justify-content: center; }     /* Keep social icons centered */
.social__item { margin: 0 0.5em; }                      /* Add 0.5em margin to left and right */
.social__link { padding: 0.5em; }                       /* Add 0.5em padding for easier clicking */

/* Hamburger */
.nav-toggle { position: absolute; padding: 0.5em; right: 0.5em; top: 1.2em; z-index: 3000; }
.hamburger { display: block; position: relative; } /* position relative to nav-toggle */
.hamburger::before, .hamburger::after { content: ''; position: absolute; left: 0; right: 0; }
.hamburger, .hamburger::before, .hamburger::after {
    background: var(--clr-light);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 500ms ease-in-out;
}
.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }

/* Fancy hamburger effects */
.nav-open .nav { transform: translate(0%); }
.nav-open .nav-toggle { position: fixed; }
.nav-open .hamburger { transform: rotate(.625turn); }
.nav-open .hamburger::before { transform: rotate(90deg) translate(-6px); }
.nav-open .hamburger::after { opacity: 0; }

/* Fade-in while scrolling */
.fade-in { opacity: 0; transform: translateY(50%); transition: opacity 500ms ease-in; }
.fade-in.appear { opacity: 1; transform: translateY(0); }

/* Intro section */
.intro { margin: 1em max(0em, 50vw - 22rem); }  /* half page - half figure - padding = 50vw - 22rem */
.intro__image { position: absolute; overflow: hidden; width: min(40rem, 100vw - 3rem); z-index: -1; }
.intro__image img {
    width: 40rem;
    filter: grayscale(100%);
    -webkit-mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 0.5) 0%, transparent 70%);
    mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 0.5) 0%, transparent 70%);
}
.intro__button {
    display: inline-block;
    margin: 4em auto;
    padding: .5em 3em;
    background-color: var(--clr-accent);
    color: var(--clr-dark);
    text-decoration: none;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}
.intro__button:hover { transform: scale(1.1); }

/* Skills */
.skills__table{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr)); 
    max-width: 540px;
    margin: 0 auto; 
}
.skill__item {
    position: relative; /* Needed for text to appear on image when hovering */
    background: black;
    width: 90px;
    height: 120px;
    border: var(--border);
    border-radius: 10px;
    transition: 
        visibility 0ms,
        opacity 250ms linear,
        transform 500ms cubic-bezier(.5, 0, .5, 1);
}

.skill__logo { position: absolute; transition: inherit; top: 30px; left: 30px; width: 30px; }
.skill__text { position: absolute; transition: inherit; width: inherit; height: 30px; bottom: 0; opacity: 0;}

.skill__item:focus { z-index: 1000; }
.skill__item:hover img, .skill__item:focus img { transform: scale(2.0); }
.skill__item:hover div, .skill__item:focus div { opacity: 1.0; }

/* Portfolio */
.portfolio{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    max-width: 1200px;
    margin: 0 auto; 
}
.portfolio__item {
    position: relative; /* Needed for text to appear on image when hovering */
    width: 300px;
    height: 300px;
    border: var(--border);
    border-radius: 10px;
    overflow: hidden;
    transition: 
        visibility 0ms,
        opacity 250ms linear,
        transform 500ms cubic-bezier(.5, 0, .5, 1);
}

.portfolio__image { transition: inherit; width: inherit; height: inherit; }
.portfolio__text { position: absolute; transition: inherit; top: 20px; left :20px; right: 20px; opacity: 0; }

.portfolio__item:focus { z-index: 1000; }
.portfolio__item:hover img, .portfolio__item:focus img { transform: scale(1.2); opacity: 0.1; }
.portfolio__item:hover div, .portfolio__item:focus div { opacity: 1.0; }

/* Portfolio Item */
.portfolio-item-individual { padding: 0 2em 2em; max-width: 1000px; margin: 0 auto; }
.portfolio-item-individual p { max-width: 600px; margin-left: auto; margin-right: auto; }