/* Set-up box-sizing (how padding is calculated) */
*, *::before, *::after {box-sizing: border-box;}

/* Custom properties */
:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Sans Pro', monospace;
    --fw-reg: 300;
    --fw-bold: 900;
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-lightblue: skyblue;
    --clr-blue: steelblue;
    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

/* @media (min-width: 800px) { 
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
} */

/* General styles */
body {
    background: var(--clr-dark);    /* background colour */
    color: var(--clr-light);        /* Text colour */
    font-family: var(--ff-primary); /* Font */
    font-size: var(--fs-body);      /* Size */
    font-weight: var(--fw-reg);     /* Weight */
    text-align: center;             /* Alignment */
    line-height: 1.6;               /* Line spacing */
}
section { display : block; padding: 5em 2em; } /* excludes header and footer */

.img {display: block; width: 300px;}
.logo { width: 2em; }
/* .btn {
    display: inline-block; 
    padding: .5em 1.5em;
    background: var(--clr-lightblue);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}
.btn:hover {
    transform: scale(1.1);
} */
:focus { outline: 3px solid var(--clr-lightblue); outline-offset: 3px; }

/* Typography */
strong { font-weight: var(--fw-bold); }
h1, h2, h3 { line-height: 1; margin: 0; }
h1 { font-size: var(--fs-h1); color: var(--clr-lightblue); }
h2 { font-size: var(--fs-h2); color: var(--clr-lightblue); }
h3 { font-size: var(--fs-h3); color: var(--clr-blue); }

.section__title{
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    color: var(--clr-lightblue);
    margin-bottom: .25em; }
.section__subtitle{
    font-family: var(--ff-secondary);
    font-size: var(--fs-h3);
    color: var(--clr-blue);
    margin-bottom: 1em; }
.section__title--intro, .section__title--about { 
    color: var(--clr-light); 
    font-weight: var(--fw-reg); }
.section__subtitle--intro, .section__subtitle--about { 
    background: var(--clr-lightblue);
    color: var(--clr-light);
    font-family: var(--ff-secondary);
}


/* Header */
nav { display: none; }

/* Intro section */
.intro { position: relative; }

/* Skills */
.section__title--skills::after, .section__title--projects::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.5;
}

.skills__table {
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    max-width: 900px;
    max-height: 50px; */
    margin: 0 auto; /* Centered */
}

/* Portfolio */
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 900px;
    margin: 0 auto; /* Centered */
}

.portfolio__item {
    background: var(--clr-lightblue);
    overflow: hidden;
}

.portfolio__img { 
    width: 300px;
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.portfolio__item:focus {
    position: relative;
    z-index: 2;
}

.portfolio__img:hover, .portfolio__item:focus .portfolio__img {
    transform: scale(1.2);
    opacity: 0.75;
}

/* Footer */
.footer {
    background: #111;
    color: var(--clr-lightblue);
    text-align: center;
    padding: 2.5em 0;
}

.footer a {color: inherit}